{% extends 'base.html' %}
{% load static %}

{% block title %}Panel por Circuitos{% endblock %}
{% block body_class %}panel-page{% endblock %}

{% block main %}
<div class="table-wrapper circuitos-wrapper">
  <div class="circuitos-panel">
    <h3 class="panel-titulo">Avance por Circuito – Diputados Nacionales</h3>
    <div class="tabla-scroll-top">
      <div class="tabla-wrap">
        <a href="{% url 'export_circuitos_excel_diputados' %}" class="btn-export">
          ⬇ Descargar Excel
        </a>
        <table id="tabla_circuitos_dip" class="table-circuitos">
          <thead id="circuitoHeadDip"></thead>
          <tbody id="circuitoListDip"></tbody>
        </table>
      </div>
    </div>
    <div id="paginationControlsDip" class="pagination"></div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/panel_geo.js' %}"></script>
  <script>
    // Solo se carga el panel de Diputados Nacionales
    initPanel('circuitos_diputados');
  </script>
{% endblock %}
